.api-message-bubble {
    border-radius: 30px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #6495ED; 
    color: #ffffff; 
}

.user-message-bubble {
    border-radius: 30px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #baccee; 
    color: #000000; 
    background-position: right;
}