.form-control:focus {
    border-color: #6495ED;
    box-shadow: 0 0 0 0.2rem rgba(100, 149, 237, 0.25);
} 


.center{
    display: flex; /* Set display property to flex */
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
    text-align: center;
    position: absolute;
    height: 90vh;
    margin: 0; 
}

.large-textbox{
    height: 50px;
}

.navbar{
    font-size: 20px;
}

.nav-logo{
    font-size: 40px;
    font-weight: bolder;
}

.input-box{
    justify-content: center;
    text-align: center;
}

.start{
    border-radius: 100px;
}

